button {
  $button-color: var(--button-color-primary);
  padding: 0 5%;
  background-color: var(--button-color-primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  word-wrap: none;
  height: 50px;
  font-weight: 600;

  &:hover {
    background-color: darken(#00aeff, 15%);
  }

  &.danger {
    background-color: var(--button-color-danger);
  }

  &.success {
    background-color: var(--button-color-success);
  }
  &:disabled {
    display: none;
  }
}
