.wishListCard {
  &__title {
    text-align: center;
    font-weight: 800;
    background-color: var(--background-color-02);
    color: var(--color-white);
    padding: 4% 0;
    border-radius: 15px 15px 0 0;
  }
  &__content {
    padding: 5% 7%;
    display: flex;
    justify-content: space-between;

    &--image {
      width: 20vw;
      margin-right: 5%;
    }

    &--description {
      width: 45vw;
      align-self: center;
      font-weight: 400;
      line-height: 1, 2em;
    }
  }

  &__summary {
    padding: 4% 0;
    display: flex;
    justify-content: space-around;
    border-radius: 0 0 15px 15px;

    span {
      font-weight: 800;
    }
  }
}
