.wishListCard {
  &__title {
    text-align: center;
    font-weight: 800;
    background-color: #0c88cf;
    color: #ffff;
    padding: 4% 0;
    border-radius: 15px 15px 0 0;
  }
  &__content {
    padding: 5%;
    display: flex;

    &--image {
      width: 15vw;
      margin-right: 3%;
    }

    &--description {
      align-self: center;
      font-weight: 400;
      line-height: 1, 2em;
    }
  }

  &__summary {
    padding: 4% 0;
    background-color: #ffd900;
    display: flex;
    justify-content: space-around;
    border-radius: 0 0 15px 15px;

    span {
      font-weight: 800;
    }
  }
}
