.list {
  .list__item:not(:last-child) {
    border-bottom: 1px solid black;
  }

  .list__item {
    padding: 2% 1%;
    display: flex;
    justify-content: space-between;

    p > span {
      font-size: large;
      color: #008cff;
    }
  }
}
