.checkout {
  display: flex;
  padding: 0 2%;

  .card {
    margin: 3% 2%;
    height: 100%;

    &__error,
    h2,
    h3 {
      text-align: center;
      color: #0c88cf;
      margin: 5% 0;
    }

    .checkout__base {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 50%;
      margin: 0 auto;
      margin-top: 2%;
      margin-bottom: 3%;

      p > span {
        font-weight: 700;
        font-size: larger;
        margin-left: 3%;
      }
    }
  }
  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}
