.list {
  .list__item {
    border-bottom: 1px solid black;
    padding: 2% 1%;
    display: flex;
    justify-content: space-between;

    p > span {
      font-size: large;
      color: #008cff;
    }

    button {
      padding: 0 5%;
      background-color: #00aeff;
      color: white;
      border: none;
      border-radius: 5px;
    }
  }
}
