.confirmation {
  h4,
  h3 {
    text-align: center;
  }

  &__header {
    padding: 2% 5%;
    text-align: center;
    line-height: 2rem;

    &.title {
      background-color: var(--background-color-03);
    }
    &.subtitle {
      background-color: var(--color-white);
    }
  }

  &__content {
    margin: 2% auto;
    padding: 5%;
    width: 70%;
    background-color: var(--color-white);

    &-item {
      border-top: 1px solid var(--color-black);

      h4 {
        text-transform: capitalize;
      }

      h5:first-of-type {
        color: var(--button-color-success);
      }

      h5 {
        color: var(--button-color-danger);
        padding: 2% 5%;
      }
    }
    &--total {
      margin: 10% 0;

      &--detail {
        margin: 4% 0;
        border-top: 1px solid var(--color-black);
        border-bottom: 1px solid var(--color-black);

        p {
          display: flex;
          justify-content: space-between;

          span:last-of-type {
            font-weight: 700;
          }
        }
      }
    }
  }
}
