button:not(.Toast) {
  $button-color: var(--button-color-primary);
  padding: 0 5%;
  background-color: var(--button-color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  word-wrap: none;
  height: 50px;
  font-weight: 600;

  &:hover {
    background-color: darken(#00aeff, 15%);
  }

  &.danger {
    background-color: var(--button-color-danger);
  }

  &.success {
    background-color: var(--button-color-success);
  }
  &:disabled {
    background-color: var(--background-color-04);
  }
}

.page {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-white);

  > h2 {
    text-transform: capitalize;
  }
}

.card {
  background-color: var(--color-white);
  margin: 5% auto;
  border-radius: 16px;

  @media only screen and (min-width: 800px) {
    width: 70%;
  }
}

.error {
  color: var(--button-color-danger);
  text-align: center;
  font-weight: 400;
  font-size: 12.5px;
}

.base-buttons {
  margin: 4% 0;
  text-align: center;

  button {
    width: 50%;
    margin: 0 auto;
  }
}
