body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans' 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f5f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background-color-01: #f4f5f7;
  --background-color-02: #0c88cf;
  --background-color-03: #ffd900;
  --button-color-primary: #00aeff;
  --button-color-success: #36c51c;
  --button-color-danger: #ff0000;
  --color-white: #ffff;
  --color-black: #000;
  --spinner-main: #0759b899;
  --spinner-secondary: #ee6639;
  --text-color: #008cff;
}
